In [4]:
# Problem 1: Unique words in a sentence

s = "python is easy and python is powerful"

w = s.split()     # splitting into words
u = set(w)        # removing duplicates

print("Unique words count:", len(u))
print("Unique words:", u)

Unique words count: 5
Unique words: {'and', 'easy', 'is', 'python', 'powerful'}

In [8]:
# Problem 2: Highest salary

emp = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

n = ""
m = 0

for x in emp:
    if emp[x] > m:
        m = emp[x]
        n = x

print("Highest Salary:", n, "-", m)

Highest Salary: Ravi - 75000

In [9]:
# Problem 3: Max and Min values

nums = [45, 22, 89, 10, 66]

mx = nums[0]
mn = nums[0]

for x in nums:
    if x > mx:
        mx = x
    if x < mn:
        mn = x

print("List:", nums)
print("Max:", mx)
print("Min:", mn)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [10]:
# Problem 4: Count products above 1000

prices = [450, 1200, 899, 1500, 300]

c = 0

for p in prices:
    if p > 1000:
        c = c + 1

print("Products above 1000:", c)

Products above 1000: 2

In [11]:
# Problem 5: Attendance percentage

att = ["P", "P", "A", "P", "P"]

p = 0
t = 0

for x in att:
    if x == "P":
        p = p + 1
    t = t + 1

per = (p / t) * 100

print("Attendance Percentage:", per)

Attendance Percentage: 80.0

In [13]:
# Problem 6: Remove duplicate phone numbers

ph = [9876543210, 9123456789, 9876543210]

u = set(ph)

print("Unique phone numbers:", u)

Unique phone numbers: {9876543210, 9123456789}

In [14]:
# Problem 7: Count character frequency

s = "python"

d = {}

for ch in s:
    if ch in d:
        d[ch] = d[ch] + 1
    else:
        d[ch] = 1

print(d)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [15]:
# Problem 8: Convert list to tuple

lst = [10, 20, 30]

tup = tuple(lst)

print("Tuple:", tup)

Tuple: (10, 20, 30)

In [16]:
# Problem 9: Check if key exists

emp = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

if "Ravi" in emp:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [17]:
# Problem 10: Average marks

marks = [70, 75, 80, 65]

s = 0
c = 0

for x in marks:
    s = s + x
    c = c + 1

avg = s / c

print("Average Marks:", avg)

Average Marks: 72.5